<div class="container">
  <h1 class="page-header"><%= @club.cname %></h1>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Students</h4>
        </div>
        <div class="panel-body">
          <table class="table table-condensed table-bordered table-striped">
            <thead>
              <tr>
                <th>Student Name</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @students.each do |student| %>
                <%= form_for(:student, :url => {:controller => 'clubs', :action => 'drop_students'}) do |f| %>
                <tr>
                  <td>
                    <%= "#{student.fname} #{student.lname}" %>
                    <%= f.hidden_field :pid, :value => student.pid %>
                  </td>
                  <td><%= student.role %></td>
                  <td>
                  <% if validate_user == :clubadmin || validate_user == :superuser || local_club_admin? -%>
                    <%= f.submit "Drop", class: "btn btn-danger btn-xs" %>
                  <% end -%>
                </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
            <% if validate_user == :clubadmin || validate_user == :superuser || local_club_admin? -%>
            <hr />
            <label class="control-label">Add student by username:</label>
            <%= form_for(:student, :url => {:controller => 'clubs', :action => 'add_students'}) do |f| %>
              <%= f.text_field :pid, :placeholder => 'Username', class: 'form-control' %>
              <br />
              <%= f.text_field :role, :placeholder => 'Role', class: 'form-control' %>
              <br />
              <%= f.submit "Add", class: "btn btn-primary" %>
            <% end %>   
          <% end -%>    
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Advisors</h4>
        </div>
        <div class="panel-body">
          <table class="table table-condensed table-bordered table-striped">
            <thead>
              <tr>
                <th>Advisor Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @advisors.each do |advisor| %>
              <%= form_for(:advisor, :url => {:controller => 'clubs', :action => 'drop_advisor'}) do |f| %>
              <tr>
                <td>
                  <%= "#{advisor.fname} #{advisor.lname}" %>
                  <%= f.hidden_field :pid, :value => advisor.pid %>
                </td>
                <td>
                  <% if validate_user == :clubadmin || validate_user == :superuser|| local_club_admin? -%>
                    <%= f.submit "Drop", class: "btn btn-danger btn-xs" %>
                  <% end -%>
                </td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
          <% if validate_user == :clubadmin || validate_user == :superuser || local_club_admin? -%>
            <hr />
            <label class="control-label">Add advisor by username:</label>
            <%= form_for(:advisor, :url => {:controller => 'clubs', :action => 'add_advisors'}) do |f| %>
              <%= f.text_field :pid, :placeholder => 'Username', class: 'form-control' %>
              <br />
              <%= f.submit "Add", class: "btn btn-primary" %>
            <% end %>   
          <% end -%>    
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h3 class="page-header">Events</h3>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>When</th>
            <th>Where?</th>
            <th>Public?</th>
          </tr>
        </thead>
        <tbody>
        <% @club_events.reverse_each do |event| %>
          <tr>
            <td><%= event.ename %></td>
            <td><%= event.description %></td>
            <td><%= event.edatetime %></td>
            <td><%= event.location %></td>
            <td><%= event.is_public_e %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to "Create Event", {:action => "new", :controller => "events"}, :class => "btn btn-primary", :method => :get %>
      <% if validate_user == :clubadmin or validate_user == :superuser or local_club_admin? -%>
        <%= link_to "Edit Events", {:action => "manage", :controller => "events", :id => @club.clubid}, :class => "btn btn-warning", :method => :get %>  
      <% end -%>
      <h3 class="page-header">Forum</h3>
      <% unless validate_user == :not_logged_in -%>
        <h4>Add a comment</h4>
        <%= form_for(:club_comment, :url => {:controller => 'clubs', :action => 'addcomment'}) do |f| %>
        <%= f.text_area :ctext, class: 'form-control' %>
          <br />
          <p>Public comment?: <%= f.check_box :public %></p>
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
        <hr>
      <% end -%>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>Comment</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% unless validate_user == :not_logged_in -%>
              <% @all_comments.reverse_each do |comment| %>
                <tr>
                  <td><%= comment.commenter %></td>
                  <td><%= comment.ctext %></td>
                </tr>
              <% end %>
          <% else -%>
              <% @public_comments.reverse_each do |comment| %>
                <tr>
                  <td><%= comment.commenter %></td>
                  <td><%= comment.ctext %></td>
                </tr>
              <% end %>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>
