<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">NYU-Poly ClubHub</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(:controller => 'dashboard', :action => 'index')%>">
          <a href="/">Home</a>
        </li>
        <li class="<%= 'active' if current_page?(:controller => 'clubs', :action => 'index')%>">
          <a href="/clubs/index">Clubs</a>
        </li>
        <li>
          <a href="/events">Events</a>
        </li>
      </ul>  
      <ul class="nav navbar-nav navbar-right">
        <div class="navbar-form">
          <% if validate_user == :not_logged_in -%>
            <%= link_to "Log In", {:action => "login", :controller => "users"}, :class => "btn btn-success", :method => :get %>
            <%= link_to "Student Sign Up", {:action => "new", :controller => "users"}, :class => "btn btn-primary", :method => :get %>
          <% else -%>
            <a href="#">Signed in as: <span class="label label-primary"><%= "#{session[:person]['fname']} #{session[:person]['lname']}" %></span></a>
            <% if validate_user == :superuser %>
              <%= link_to "Admin Panel", {:action => "admin", :controller => "dashboard"}, :class => "btn btn-warning", :method => :get %>
            <% end %>
            <%= link_to "Log Out", {:action => "logout", :controller => "users"}, :class => "btn btn-danger", :method => :get %>
          <% end -%>
        </div>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</div>